name: CI

on:
  push:
    branches:
      - main
    tags:
      - "v*"
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
  merge_group:

  schedule:
    #        ┌───────────── minute (0 - 59)
    #        │ ┌───────────── hour (0 - 23)
    #        │ │ ┌───────────── day of the month (1 - 31)
    #        │ │ │ ┌───────────── month (1 - 12 or JAN-DEC)
    #        │ │ │ │ ┌───────────── day of the week (0 - 6 or SUN-SAT)
    #        │ │ │ │ │
    #        │ │ │ │ │
    #        │ │ │ │ │
    - cron: "0 0 * * 0"

  workflow_dispatch:

defaults:
  run:
    shell: sh

env:
  DEFAULT_GHC_VERSION: "9.4.4"
  DEFAULT_CABAL_VERSION: "3.10.1.0"
  DEFAULT_PYTHON_VERSION: "3.11"

jobs:
  ################################################################################
  # Build package with cibuildwheel
  ################################################################################

  build:
    name: "Build / ${{ matrix.os.name }} - ${{ matrix.os.arch }}"
    runs-on: ${{ matrix.os.type }}

    strategy:
      matrix:
        os:
          - name: "Linux"
            type: "ubuntu-latest"
            arch: "aarch64"
          - name: "Linux"
            type: "ubuntu-latest"
            arch: "i686"
          - name: "Linux"
            type: "ubuntu-latest"
            arch: "x86_64"
          - name: "macOS"
            type: "macos-latest"
            arch: "x86_64"
          - name: "Windows"
            type: "windows-latest"
            arch: "AMD64"

    steps:
      - uses: actions/checkout@v3

      - # Required to run job via act: https://github.com/nektos/act
        uses: actions/setup-python@v4
        with:
          cache: "pip"
          cache-dependency-path: "./requirements-ci.txt"
          python-version: ${{ env.DEFAULT_PYTHON_VERSION }}

      - # Required to run job via act: https://github.com/nektos/act
        run: pip install -r "./requirements-ci.txt"

      - # 19-05-2023:
        # Required to build the wheels on macOS and Windows, but not on Linux,
        # as Linux builds are run in containers, where GHC and Cabal are built
        # by the `./scripts/before-all.sh` scripts.
        if: matrix.os.name == 'macOS' || matrix.os.name == 'Windows'
        uses: haskell/actions/setup@v2
        with:
          ghc-version: ${{ env.DEFAULT_GHC_VERSION }}
          cabal-version: ${{ env.DEFAULT_CABAL_VERSION }}

      - # 19-06-2023:
        # Required to build aarch64 wheels.
        if: matrix.os.arch == 'aarch64'
        name: Set up QEMU (linux/aarch64)
        uses: docker/setup-qemu-action@v2
        with:
          platforms: "arm64"

      - # 19-06-2023:
        # Required to build i686 wheels.
        if: matrix.os.arch == 'i686'
        name: Set up QEMU (linux/i686)
        uses: docker/setup-qemu-action@v2
        with:
          platforms: "386"

      - uses: pypa/cibuildwheel@v2.14.1
        with:
          output-dir: "./dist"
          config-file: "{package}/pyproject.toml"
        env:
          CIBW_ARCHS: "${{ matrix.os.arch }}"
          MACOSX_DEPLOYMENT_TARGET: "10.10"

      - uses: actions/upload-artifact@v3
        with:
          name: "dist"
          path: "./dist/*.whl"

  ################################################################################
  # Test package with Tox
  ################################################################################

  test:
    name: Test / ${{ matrix.os.name }}
    runs-on: ${{ matrix.os.type }}

    strategy:
      matrix:
        os:
          - name: "Linux"
            type: "ubuntu-latest"
          - name: "macOS"
            type: "macos-latest"
          - name: "Windows"
            type: "windows-latest"

    steps:
      - uses: actions/checkout@v3

      - # Required to run job via act: https://github.com/nektos/act
        uses: actions/setup-python@v4
        with:
          cache: "pip"
          cache-dependency-path: "./requirements-ci.txt"
          python-version: |
            3.11
            3.10
            3.9
            3.8
            3.7

      - # Required to run job via act: https://github.com/nektos/act
        run: pip install -r "./requirements-ci.txt"

      - # 19-05-2023:
        # Required to build the wheels on macOS and Windows, but not on Linux,
        # as Linux builds are run in containers, where GHC and Cabal are built
        # by the `./scripts/before-all.sh` scripts.
        if: matrix.os.name == 'macOS' || matrix.os.name == 'Windows'
        uses: haskell/actions/setup@v2
        with:
          ghc-version: ${{ env.DEFAULT_GHC_VERSION }}
          cabal-version: ${{ env.DEFAULT_CABAL_VERSION }}

      - run: pipx run tox

  ################################################################################
  # Publish package to GitHub Releases
  ################################################################################

  publish-to-github-releases:
    name: Publish to GitHub Releases
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    needs: [build, test]

    permissions:
      contents: write

    steps:
      - name: Download dist
        uses: actions/download-artifact@v3
        with:
          name: "dist"
          path: "./dist"

      - name: Publish to GitHub Releases
        uses: softprops/action-gh-release@v1
        with:
          files: "./dist/*.whl"
          fail_on_unmatched_files: true

  ################################################################################
  # Publish package to PyPI
  ################################################################################

  publish-to-pypi:
    name: Publish to PyPI
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    needs: [build, test]

    environment:
      name: pypi
      url: https://pypi.org/p/example-haskell-wheel

    permissions:
      id-token: write # IMPORTANT: this permission is mandatory for trusted publishing

    steps:
      - name: Download dist
        uses: actions/download-artifact@v3
        with:
          name: "dist"
          path: "./dist"

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: "./dist"
